body {
  margin-bottom: 150px;
  font-family: 'Overpass', sans-serif;
  background-image: url("../images/grunge_wall/grunge_wall.png");
  /* background-repeat: no-repeat; */

}
#navList {
  color: cornflowerblue;
  
}

#aboutImage {
  width: 70%;
  height:auto;
  border-radius: 50%;
}

.portPiece {
  width: 30%;
  padding: 1%;
  margin: 2%;

}

#gitHub {
  width: 145%;
  height: auto;
  border-radius: 15%;
}
#portDiv {
  background-image: url("../images/gray_sand/gray_sand.png");
  background-size: cover;
  background-position: center;

}
html {
  position: relative;
  min-height: 100%;
  font-family: 'Overpass', sans-serif;
  
}
#portTitle {
  font-size: 700%;
  font-weight: 200;
  font-family:  'Parisienne', cursive;

}

#contactTitle {
  font-family: 'Parisienne', cursive;
  font-weight: bolder;
  font-size: 500%;
}

.image {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}



#title {
  color: #fff;
  font-weight: 300;            /* - reduce font weight for larger text */
  letter-spacing: 1px;    /* - increase space between letters */
  word-spacing: 4px; 
  font-family: 'Parisienne', cursive;
  font-weight: bolder;
  font-size: 1000%;       /* - increase space between words */
}

#skills {
  font-family: 'Fira Sans Condensed', sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 110%;
  letter-spacing: 1px;    /* - increase space between letters */
  word-spacing: 4px;        /* - increase space between words */
}

#title {
  font-size: 1000%;
}

h1 {

  text-align: center;
  vertical-align: center;
  
}

h3 {
  font-family: 'Overpass', sans-serif;
  font-size: 150%;
  text-align: center;
}

#fullName {
  font-size: 200%;
  line-height: 290%;
  width: 100%;
  padding-top: 20px;
  margin-top: -20%;
  margin-left: -35%;
  font-family: 'Overpass', sans-serif;
  color: white;
  float: left;
  position: relative;
}

li {
  font-size: 135%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: 'Overpass', sans-serif;
}

.navbar-nav>li>a:hover {
  color: #955251;
}

.aboutSection {
  border-radius: 10%;
  color: slategray;
}

#aboutMe {
  font-family: 'Parisienne', cursive;
  font-size: 700%;  
  color: #955251;
}

.connect-with-me-header {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Overpass', sans-serif;
  color: #955251;
}

.connect-with-me-content {
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top: 30px;
  background-color: #666;
  font-family: 'Overpass', sans-serif;
}

.contact-form {
  width: 95%;
  font-family: 'Overpass', sans-serif;
  color: #955251;
  padding: 1%;
  border-radius: 10%;
}

.contact-form-header,
.port-header {
  font-family: 'Overpass', sans-serif;
  font-weight: bold;
  font-size: 350%;
  color: #955251;
  margin: 5%;
  width: 90%;
}

.main-box {
  border-radius: 10%;
}

#port {
  font-family: 'Overpass', sans-serif;
  color: #955251;
  margin-left: 15%;
  font-size: 300%;
}

#msg {
  height: 200px;
  font-family: 'Overpass', sans-serif;
  width: 90%;
}

.label-name,
.label-msg,
.label-mail {
  font-size: 17px;
  color: slategray;
}

.submit-btn {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: lighter;
  color: lightgray;
  background-color: #955251;
  border: 0;
  border-radius: 5%;
}

.links {
  color: #955251;
}

footer {
  height: 80px;
  width: 100%;
  color: lightgray;
  background: rgb(74, 77, 77);
  border-top: 10px solid #955251;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  vertical-align: bottom;
  line-height: 80px;
  font-size: 100%;
}

p {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #955251;
  }
}